* {
    margin: 0;
    padding: 0;
}

/* body {
    width:500px;
    
} */

.header {
    width: 390px;
    height: 50px;
    background-color:cadetblue;
    margin: 0 auto;
    display: block;
}.header > img {
    width: 50px;
    border-radius: 25px;
    margin-left: 10px;
}

.left-title {
    /* overflow: hidden; */
    /* display: inline-block; */
    width: 89px;
    float: right;
    margin-right:10px ;
    line-height: 50px;
    
}.left-title > span {
    color: white;
}.left-title > div {
    /* position: absolute; */
    /* display: none; */
    background-color: white;
}
.left-title:hover > div {
    display: block;
}
.left-title > div > span {
    display: block;
    height: 50px;
}
.left-title > div > span > a {
    color: black;
    text-decoration: none;
}
#one {
    margin-left: 5px;
}
#two {
    margin-left: 15px;
}

.gg {
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    height: 80px;
    width: 190px;
    background-color: rgb(219, 219, 219);
    margin: 10px 20px;
}.gg > p {
    margin-top:12px;
}

.nav-box {
    margin: 5px 20px;
    width: 350px;
    height: 50px;
    /* background-color: brown; */
}.nav-box > ul  {
    text-align: center;
    list-style: none;
    width: 350px;
    height: 50px;
}.nav-box > ul > li {
    overflow: hidden;
    border-radius: 25px;
    float: left;
    width: 170px;
    line-height: 50px;
    /* display: inline-block; */
    height: 50px;
}.nav-box > ul > li > a {
    display: inline-block;
    height: 50px;
    width: 170px;
    color: white;
    text-decoration: none;
}
#fx {
    margin-right: 3.2px;
    background-color:brown;
}#ln {
    margin-left: 3.2px; 
    background-color: cadetblue;
}#fx > a{
    margin-right: 3.2px;
    background-color:brown;
}#ln > a {
    margin-left: 3.2px; 
    background-color: cadetblue;
}

.demo {
    width: 390px;
}
.demo  > video {
    width: 350px;
    margin: 0 20px;
}
